@use '../../../sass/abstract/variables' as *;

.navbar {
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 120rem;
  height: 6.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    width: 81rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    font-size: 2rem;
    line-height: 2.8rem;
  }

  &__item {
    text-decoration: none;
    color: $secondary-color;
    letter-spacing: 0.1px;
  }

  &__button {
    flex: 1;
    letter-spacing: 0.7px;
  }
}
