@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
