@use '../abstract/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: $font-family;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.2rem;

  color: $secondary-color;
  background-color: $tertiary-color;
}

h1 {
  font-size: 6rem;
  line-height: 7.6rem;
  font-weight: 500;
}
h2 {
  font-size: 4rem;
  line-height: 5.1rem;
  font-weight: 500;
}
h3 {
  font-size: 3rem;
  line-height: 3.8rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
}
