@use '../abstract/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: $font-family;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.2rem;

  color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: $black-color;
}

h1 {
  font-size: 6rem;
  line-height: 7.6rem;
}
h2 {
  border-radius: 0.7rem;
  padding: 0 0.7rem;
  display: inline-block;
  font-size: 4rem;
  line-height: 5.1rem;
  background-color: $primary-color;
}
h3 {
  font-size: 3rem;
  line-height: 3.8rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.5rem;
}
