@use '../../../sass/abstract/variables' as *;

.contact-section {
  max-width: 120rem;
  margin: 0 auto;

  &__form-box {
    position: relative;
    width: 100%;
    border-radius: 4.5rem;
    background-color: $tertiary-color;
    padding: 6rem 0 8rem 10rem;
    display: flex;
    justify-content: space-between;
    gap: 18rem;
    overflow: hidden;
  }

  img {
    width: 69rem;
    height: 64.8rem;
  }
}
